<div class="analysis">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
          <img  src="{{ getSlide() }}" alt="slide" >
          <div class="carousel-caption">
            <h3>Laika said:</h3>
            <p>Hey! How are you?</p>
          </div>
      </div>
    <div class="icon ">
      <i (click)='getPrev()'  class="fa-solid fa-chevron-left"></i>
      <i (click)='getNext()'  class="fa-solid fa-chevron-right "></i>
    </div>
    </div>
  </div>
