

  <div class="container-fluid my-5">
    <div class="row ">
            <div id="side-menu" class="col-sm-3 hidden-xs " data-spy="affix" data-offset-top="0">
              <div class="header">
                <h1>Dashboard</h1>
                <i class="fa-solid fa-rotate-right"></i>
              </div><!--header-->
              <div class="contant ">
                <img class="w-25" src="assets/imgs/jon.png" alt="imgs/jon">
                <h3>Jonny Doo
                  @jonnydoo</h3>
              </div><!--/contant-->

              <div class="link">
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <a href="#" class="transition">
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      Overview
                    </a>
                  </li>
                  <li>
                    <a routerLink="audience" class="transition">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      Audience
                    </a>
                  </li>
                  <li>
                    <a routerLink="" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="finances-opts">
                      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                      Finances
                      <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
                    </a>
                    <ul class="collapse list-unstyled" id="finances-opts">
                      <li>
                        <a routerLink="" class="transition">
                          Incomes
                        </a>
                      </li>
                      <li>
                        <a routerLink="" class="transition">
                          Outcomes
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="" class="transition">
                      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                      Real time
                      <span class="badge pull-right">12</span>
                    </a>
                  </li>
                  <li class="nav-divider"></li>
                  <li>
                    <a routerLink="" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="">
                      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                      Projects
                      <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
                    </a>
                    <ul class="collapse list-unstyled" id="">
                      <li>
                        <a routerLink="" class="transition">
                          Free ration nation
                        </a>
                      </li>
                      <li>
                        <a routerLink="" class="transition">
                          Cats going crazy
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>

              </div>



                
              </div>

        
              <!-- <div id="main" class="col-sm-offset-3 col-sm-9 ">
            <router-outlet></router-outlet>
            
        </div>/col -->

    </div><!--/row-->
  </div><!--/container-->

