<div class="card" id="quick-info">
    <div class="card-block">
      <h3>Quick stats</h3>
      <div class="quick-stats">
        <strong>Today:</strong>
        <span>78</span>
      </div>
      <div class="quick-stats">
        <strong>This month:</strong>
        <span>459</span>
      </div>
      <div class="quick-stats">
        <strong>All time:</strong>
        <span>54k</span>
      </div>
      <div class="quick-stats">
        <strong>Bounce rate:</strong>
        <span>81.08%</span>
      </div>
      <div class="quick-stats">
        <strong>Session duration:</strong>
        <span>00:01:41</span>
      </div>
      <div class="quick-stats">
        <strong>New session:</strong>
        <span>63.86%</span>
      </div>
    </div>
  </div>
